<!DOCTYPE html>
  <html lang="en">
      
  <head>
    <!-- Boilerplate Metatags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <!-- Project Metatags -->
    <meta name="author" content="Matthew Lawhorn">
    <meta name="application-name" content="Employee Manager">
    <meta name="description" content="A command line app that allows a business's management to access HR data and alter it.">
    <meta name="keywords" content="Bootcamp">
      
    <!-- Title and Icon -->
    <title>Employee Manager</title>
    <link rel="icon" href="./assets/images/default.ico" type="image/x-icon">
      
    <!-- My CSS  -->
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/style.css">
      
    <!-- My JS Script  -->
    <script src="./libs/main.js" type="module" defer></script>
  </head>
      
  <body>
  
    <!-- ==================== -->
    <!--      HEADER          -->
    <!-- ==================== -->
      
    <!-- ==================== -->
    <h1>THIS IS EMPLOYEE MANAGER</h1>
    <!-- ==================== -->
  
  </body>
  </html>